body {
background: #b5d2ff;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 50px;
}

.workshop-header {
background: black;
color: white;
text-align: center;
padding: 30px 20px;
width: 100%;
max-width: 900px;
border-radius: 32px 32px 0 0;
}

.workshop-header h1 {
font-size: 36px;
font-weight: 600;
margin-bottom: 8px;
}

.workshop-header p {
font-size: 18px;
}

.signup-container {
background: white;
max-width: 860px;
width: 100%;
padding: 35px 40px;
border-radius: 0 0 32px 32px;
}

.signup-container h2 {
font-size: 32px;
font-weight: 600;
color: #1a2b3c;
margin-bottom: 20px;
padding-left: 19px;;
}

.form-row {
display: grid;
grid-template-columns: 50% 50%;
gap: 19px;
margin-bottom: 15px;
}

.form-group {
display: flex;
flex-direction: column;
}

.form-group input,
.form-group select {
padding: 8px;
font-size: 14px;
}

.form-group input::placeholder {
color: #a3b7d4;
font-weight: 300;
}

.full-width {
grid-column: span 2;
margin-bottom: 8px;
}

.checkbox-group {
display: flex;
align-items: center;
gap: 13px;
}

.register-btn {
background: #000000;
color: white;
border: none;
width: 100%;
padding: 16px;
font-size: 19px;
font-weight: 600;
border-radius: 48px;
cursor: pointer;
}

.login-link {
text-align: center;
color: #2f4468;
font-size: 16px;
}

.login-link a {
color: #1e3a8a;
font-weight: 600;
padding-bottom: 1px;
}